.num {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: cursive;
}

.abs-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.outer {
  background: #ddd;
  z-index: 1;
}

.inner {
  position: absolute;
}

.col, .grid {
  position: absolute;
}

.grid {
  background: #cad6e3;
}

.col {
  -webkit-transition: top 0.15s linear, left 0.15s linear;
  -moz-transition: top 0.15s linear, left 0.15s linear;
  -o-transition: top 0.15s linear, left 0.15s linear;
  transition: top 0.15s linear, left 0.15s linear;
  position: absolute;
  background: #588ed9 !important;
  text-align: center;
  color: white;
  z-index: 10;
}

.sidebar {
  position: fixed;
  right: 110px;
  top: 150px;
}

.info {
  text-align: center;
}

.num {
  padding: 7px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
}
.num:focus {
  border-color: #82aae2;
  box-shadow: 0 0 10px rgba(88, 142, 217, 0.6);
}

.replay {
  display: block;
  width: 100%;
  padding: 5px;
  outline: none;
  background-color: #588ed9;
  color: #fff;
  border: none;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: cursive;
  cursor: pointer;
}
.replay:hover {
  background-color: #82aae2;
}
