body {
  margin: 0;
  padding: 0;
}

.abs-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.outer {
  width: 470px;
  height: 470px;
  background: #ddd;
  border-radius: 20px;
}

.inner {
  position: absolute;
  width: 430px;
  height: 430px;
}

.col, .grid {
  position: absolute;
  width: 100px;
  height: 100px;
}

.grid {
  background: #cad6e3;
}
.grid:nth-child(1) {
  left: 0px;
  top: 0px;
}
.grid:nth-child(2) {
  left: 110px;
  top: 0px;
}
.grid:nth-child(3) {
  left: 220px;
  top: 0px;
}
.grid:nth-child(4) {
  left: 330px;
  top: 0px;
}
.grid:nth-child(5) {
  left: 0px;
  top: 110px;
}
.grid:nth-child(6) {
  left: 110px;
  top: 110px;
}
.grid:nth-child(7) {
  left: 220px;
  top: 110px;
}
.grid:nth-child(8) {
  left: 330px;
  top: 110px;
}
.grid:nth-child(9) {
  left: 0px;
  top: 220px;
}
.grid:nth-child(10) {
  left: 110px;
  top: 220px;
}
.grid:nth-child(11) {
  left: 220px;
  top: 220px;
}
.grid:nth-child(12) {
  left: 330px;
  top: 220px;
}
.grid:nth-child(13) {
  left: 0px;
  top: 330px;
}
.grid:nth-child(14) {
  left: 110px;
  top: 330px;
}
.grid:nth-child(15) {
  left: 220px;
  top: 330px;
}
.grid:nth-child(16) {
  left: 330px;
  top: 330px;
}

.col {
  position: absolute;
  background: #588ed9 !important;
  font-size: 56px;
  line-height: 100px;
  text-align: center;
  color: white;
  z-index: 100;
  -moz-transition: top 0.15s linear, left 0.15s linear;
  -o-transition: top 0.15s linear, left 0.15s linear;
  -webkit-transition: top 0.15s linear, left 0.15s linear;
  transition: top 0.15s linear, left 0.15s linear;
}

.text {
  line-height: 100px;
  height: 100px;
}
